//style compra   
.mainContainer{
    margin: 5rem;

    .btn-outline-secondary{
        margin-bottom:0.7rem;
        border-radius: 3px;
    }

    .card{
        padding: 3rem 6rem 3rem 4rem;

        .item-value-title{
            padding: 0;
            margin-bottom: 1.7rem;
            font-size: 2rem;
        }

        .input-group{
            padding: 0;
            width: 100%;
        }

        .btn-group{
            padding: 0;

            .btn{
                padding: 0.5rem 0;
                width: 50%;
                margin: 2rem 1rem 0 0;
                border-radius: 1rem;
            }
        }
    }
}
